
{% extends 'main/layout.html'%}

{% block title %}Мои баджи{% endblock %}
{% block content %}
<head>

</head>
   <h1>Тут будут мои баджи</h1>
   <button  href="#" class="open-popup"><i class="fas fa-plus-circle"></i>Добавить значок</button>
<div class="popup__bg">
    <form class="popup">
        <img src="images/close.svg" class="close-popup">
        <label>
            <input type="text" name="name">
            <div class="label__text">
                Ваше имя
            </div>
        </label>
        <label>
            <input type="tel" name="tel">
            <div class="label__text">
                Ваш телефон
            </div>
        </label>
        <label>
            <textarea name="message"></textarea>
            <div class="label__text">
                Ваше сообщение
            </div>
        </label>
        <button type="submit">Отправить</button>
    </form>
</div>
<style>
   div{
   display:flex;}
</style>

<div>
{% include 'badges/test.html' %}


   </div>
{% endblock %}