{% load static%}
<style>
    .a{
    width:200px;
    height:300px;
    border: 1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:15px;
    }
    h4{
     border: 1px solid black;
     }
    img{
    width:80px;}

</style>

{% if badges%}
{% for el in badges%}
<div class="a">
    <img src="{% static 'main/img/cat.jpg'%}" alt="logo">

    <h4>{{el.name}}</h4>
    <span>{{el.desc}}</span>
    <span>{{el.cost}} очков</span>
     <span>{{el.id}}</span>
    <a href="{% url 'badge_edit' el.id%}"> <button class="btn btn-info"><i class="fas fa-plus-circle"></i>Редактировать</button></a>
    <a href="{% url 'badge_delete' el.id%}"> <button class="btn btn-info"><i class="fas fa-plus-circle"></i>Удалить</button></a>
</div>
{%endfor%}
{%else%}
<p>У вас нет баджей!</p>
{%endif%}