{% load static%}
<style>
    .a{
    width:200px;
    height:300px;
    border: 1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:15px;
    }
    h4{
     border: 1px solid black;
     }
    img{
    width:80px;}

</style>

{% if users%}
{% for el in users%}
 <tr>
      <th>
         <h5><a href="{% url 'users_profile' el.id%}">{{el.username}}</a></h5>
      </th>
      <th>{%for group in el.groups.all%}
         <h5>{{group.name}}</h5>
          {%endfor%}
      </th>
      <th><button><a href="{% url 'users_edit' el.id%}"><i class="fas fa-edit"></i></a></button></th>
     <th><button><a href="{% url 'users_delete' el.id%}"><i class="fas fa-user-times"></i></a></button>
      </th>
 </tr>
{%endfor%}
{%else%}
<p>Нет пользователей!</p>
{%endif%}