{% load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <script src="https://kit.fontawesome.com/a6b0dc580b.js" crossorigin="anonymous"></script>

</head>
<body>
    <aside>
        <img src="{% static 'main/img/cat.jpg'%}" alt="logo">
        <span class="logo">GoodBadge</span>
        {%if customuser.is_authenticated%}
        <h3>Навигация</h3>
        <ul>
            {% for group in customuser.groups.all%}
            {{group.name}}
            {%if group.name == 'Students'%}
            <a href="{% url 'home' %}"><li><i class="fa-solid fa-house"></i>Главная</li></a>
            <a href=""><li><i class="fa-solid fa-star"></i>Мои баджи</li></a>
             <a href="{% url 'badge_home' %}"><li><i class="fa-solid fa-circle-exclamation"></i>Все баджи</li></a>
            {%endif%}
            {% if group.name == 'Prepods' %}
            <a href="{% url 'home' %}"><li><i class="fa-solid fa-house"></i>Главная</li></a>
            <a href="{% url 'badge_home' %}"><li><i class="fa-solid fa-house"></i>Значки</li></a>
            <a href="{% url 'users_home' %}"><li><i class="fa-solid fa-star"></i>Мои ученики</li></a>
            <a href=""><li><i class="fa-solid fa-circle-exclamation"></i>Все баджи</li></a>
              {%endif%}
            {%endfor%}

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>

        </ul>
        {%else%}
        <a href="{% url 'login'%}?next={{request.path}}">Войти</a>
        {%endif%}
    </aside>
    <main>
        {% block content%}
        {% endblock %}
    </main>
</body>
</html>